* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: sans-serif;
}

body {
    color: #ededed;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 600;

}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: showright 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.Home {
    height: 100vh;
    background: url('Home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: showright 1s ease forwards;
    animation-delay: .1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: showright 1s ease forwards;
    animation-delay: .1.3s;

}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: showright 1s ease forwards;
    animation-delay: .1.6s;

}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover:before {
    width: 100%;

}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imghover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;

}

.home-imghover:hover {
    background: var(--bg-color);
    opacity: .8;
}

.about {
    height: 100vh;
    background: url(about.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.about h1 {
    color: #000;
}

.inner-section {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.inner-section h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    color: #000;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills button {
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #00999c;
    color: white;
    cursor: pointer;
}

.skills button:hover {
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}

@media screen and (max-width:1200px) {
    .inner-section {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-section {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about {
        padding: 0;
    }

    .inner-section {
        padding: 60px;
    }

    .skills button {
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #fff;
    padding: 60px 10%;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
}

.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #000;
    text-transform: capitalize;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #101010;
    height: 2px;
    width: 40px;
}

ul li:not(:last-child) {
    margin-bottom: 8px;
}

ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #202020;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover {
    color: #404040;
    padding-left: 2px;
}

.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover {
    color: #4d4f55;
    background-color: white;
}

@media(max-width: 740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }
}

@media(max-width: 555px) {
    .footer-col {
        width: 100%;
    }
}

.contact {
    height: 100vh;
    overflow: hidden;
    padding: 100px 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("img/bg.jpg") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
    background: url("about.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2 {
    position: relative;
    color: #000;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #27ae60;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

.services {
    height: 100vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapper {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffff;
}

.wrapper h1 {
    font-size: 3em;
    margin: 25px;
}

.content-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card {
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.card i {
    margin: 20px;
    color: #581ed6;
}

.card h2 {
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.card p {
    color: #000;
    text-align: center;
}
.wrapper h1{
    color: #000;
}
.wrapper p{
    color: #000;
}

.card:hover i,
.card:hover p {
    color: #fff;
}

.card:hover h2 {
    font-weight: 600;
    color: white;
}

.card:nth-child(1):hover {
    background: linear-gradient(45deg,
            rgba(88, 70, 159, 0.7) 0%,
            rgba(136, 113, 199, 0.7)100%),
        url('bg.jpg');
    background-size: cover;
}

.card:nth-child(2):hover {
    background: linear-gradient(45deg,
            rgba(88, 70, 159, 0.7) 0%,
            rgba(136, 113, 199, 0.7)100%),
        url('bg2.jpg');
    background-size: cover;
}

.card:nth-child(3):hover {
    background: linear-gradient(45deg,
            rgba(88, 70, 159, 0.7) 0%,
            rgba(136, 113, 199, 0.7)100%),
        url('bg3.jpg');
    background-size: cover;
}

.card:nth-child(4):hover {
    background: linear-gradient(45deg,
            rgba(88, 70, 159, 0.7) 0%,
            rgba(136, 113, 199, 0.7)100%),
        url('bg4.jpg');
    background-size: cover;
}

.card:nth-child(5):hover {
    background: linear-gradient(45deg,
            rgba(88, 70, 159, 0.7) 0%,
            rgba(136, 113, 199, 0.7)100%),
        url('bg5.jpg');
    background-size: cover;
}

.card:nth-child(6):hover {
    background: linear-gradient(45deg,
            rgba(88, 70, 159, 0.7) 0%,
            rgba(136, 113, 199, 0.7)100%),
        url('bg2.jpg');
    background-size: cover;
}

@media(max-width:991px) {
    .wrapper {
        padding: 25px;
    }

    .wrapper h1 {
        font-size: 2.5em;
        font-weight: 600;
    }

    .content-box {
        flex-direction: column;
        width: 100%;
    }

    .card {
        min-width: 300px;
        margin: 10px auto;
    }
}